# retired code that got us tournament finalist (but it sucks)
first

# nonunique c++, pros, and library things
.d
.vscode
bin
firmware
display
EZ-template
fmt
lemlib
okapi
pros
api.h
main.h
common.mk
compile_commands.json
makefile
project.pros


